<div class="p-8 border-2 border-orange-200 rounded-2xl">
  <div class="post-header">
    <div class="post-date">{{formatDate createdAt}}</div>
  </div>
  <div class="post-content">{{{ content }}}</div>
</div>
